   <div style="display:block;"><img alt="" src="./img/sbc.png"></div>
   <nav id="navigation" class="widget main_nav widget_content" style="display:block;">
      <ul id="Nav1" class="nav">
         <li class="{{ index }} sf_first_nav_item"><a href="./index.html" target="_self">Home</a></li>
         <li class="{{ about }}"><a href="./about.html" target="_self">About</a></li>
         <li class="{{ partners }}"><a href="./partners.html" target="_self">Partners</a></li>
         <li class="{{ vehicles }}"><a href="./vehicles.html" target="_self">Vehicles</a></li>
         <li class="{{ careers }}"><a href="./careers.html" target="_self">Careers</a></li>
         <li class="sf_last_nav_item" style="float:right;"><a href="https://login.microsoftonline.com/" target="_self" onclick="">Login</a></li>
      </ul>
   </nav>
